* {
    padding: 0px;
    margin: 0px;
}

.main .first {
    background-color: #78909c;
    height: 80vh;
}
.main .first h1 {
    padding-top: 10vh;
    text-align: center;
}
.main .first h5 {
    margin-top: 10vh;
    text-align: center;
}
.main .first button {
    width: 18%;
    height: 13%;
    margin: 20vh 41% 45vh 41%;
}

.main .second {
    background-color: black;
    height: 80vh;
    color: white;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.main .second a {
    color: white;
    text-decoration: none;
    margin-left: 10%;
}


.main .third {
    background-color:#78909c;
    height: 105vh;
    padding-top: 25px;
    padding-left: 25px;
}
.main .third .about {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.main .third .about p {
    overflow-wrap: break-word;
    margin-left: 150px;
    margin-top: 60px;
    width: 40%;
}
.main .third .about .img {
    width: 150px;
    height: 150px;
    /*background-color: black;*/
    margin-right: 150px;
    margin-top: 50px;
}
