* {
    padding: 0px;
    margin: 0px;
}

.header {
    background-color: #455a64;
    height: 100px;
}

.header .nav {
    display: flex;
    justify-content: space-between;
}

.header .nav .logo {
    color: black;
    margin-left: 150px;
    font-size: 30px;
}
.header .nav .logo:hover {
    color: white
}
.header .nav ul {
    display: flex;
    list-style: none;
}
.header .nav li :hover {
    color: black;
}
.header .nav a {
    color: white;
    text-decoration: none;
    line-height: 100px;
    margin-left: 50px;
}
.header .nav li .shopping {
    padding-top: 35px;
    padding-right: 15px;
    margin-left: 70px;
    cursor: pointer;
}
.header .nav li .account {
    padding-top: 33px;
    margin-right: 25px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    left: 0px;
    top:0px;
    background-color: rgba(0,0 ,0 , 0.5);
    width: 100%;
    height: 100%;
    z-index:1;
    display:none;
}

.popup{
    margin: 10% auto;
    width : 30%;
    height: 40%;
    background-color: white;
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.popup .quitter {
    float: right;
    cursor: pointer;
}
.popup form {
    padding-top: 25px;
    padding-left: 25px;
}
.popup form .cacher {
    visibility: hidden;
}
.popup form .valider {
    width: 60%;
}
.popup button {
    width: 30%;
    height: 15%;
    margin-top: 20%;
    margin-left: 35%;
}

.popup .articles {
    padding-top: 25px;
}
.popup .ligne {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.popup .ligne .supprimer {
    float: right;
    cursor: pointer;
}