* {
    padding: 0px;
    margin: 0px;
}
 
.main {
    padding: 50px 5vw 50px 5vw;
    display: flex;
    justify-content: space-between;
} 
.main .info {
    background-color: grey;
    width: 15vw;
    height: 50vh;
    margin-top: 5%;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 15px;
}
.main .info li {
    list-style: none;
    color: black;
}
.main .produit {
    width: 70vw;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
}
.main .products .lig0 {
    display: flex;
    justify-content: space-between;
}
.main .products .lig1 {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.main .products .lig2 {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.main .products .lig3 {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.main .products .lig4 {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.main .products .lig5 {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.main .products .lig6 {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.main .products .lig7 {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.main .products .lig8 {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.main .products .lig9 {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.main .products .lig10 {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;}

.main .products .product {
    width: 24%;
    height: 300px;
    border: solid 2px;
} 
.main .products .product .img {
    background-color: white;
    margin: 10px;
    height: 80%;
    display: flex;
    align-items: center;
}
.main .products .product .text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    
}
.main .products .product .text h2 {
    padding-left: 10px;
    padding-bottom: 150px;
    font-size:19px;
}
.main .products .product .text h3 {
    padding-left: 10px;
    padding : 1px 1px 1px 1px ;
    font-size:20px;
}
